/* .background-image {
  background-image: url('https://miro.medium.com/v2/resize:fit:720/format:webp/1*R23Re_tBaLUS1y6staKAvg.jpeg');
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
} */
.background-image {
  background-image: url('https://miro.medium.com/v2/resize:fit:720/format:webp/1*R23Re_tBaLUS1y6staKAvg.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  margin-left: 65%; /* Adjust the margin to position the container */
  width: 325px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
}

.container h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 25px;
} 

label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

input[type="text"],
input[type="password"] {
  width: calc(100% - 22px); /* Adjust for input padding and border */
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: grey;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

.alert {
  padding: 10px;
  font-size: 14px;
  border-radius: 4px;
  margin-top: 15px;
}

.alert-danger {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
}
