<div class ="background-image">
<nav>
  <ul>
      <li><a routerLink="/feedbacks">View All Feedback</a></li>
      <li><a routerLink="/getbyid">Get By ID</a></li>
      <li><a routerLink="/deletebyid">Delete By ID</a></li>
      <li><a routerLink="/appointmentadmin">View All Appointments</a></li>
      <li><a routerLink="/logout">Logout</a></li>

  </ul>
</nav>
<router-outlet></router-outlet>

<h2>Appointment View</h2>
<table class="table">
  <thead>
    <tr>
      <th>Patient Id</th>
      <th>Name</th>
      <th>Date</th>
      <th>Time</th>
      <th>Purpose</th>
      <!-- Add more columns as needed -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let appointment of appointments">
      <td>{{ appointment.patientid }}</td>
      <td>{{ appointment.name }}</td>
      <td>{{ appointment.date }}</td>
      <td>{{ appointment.time }}</td>
      <td>{{ appointment.purpose }}</td>
      <!-- Add more columns as needed -->
    </tr>
  </tbody>
</table>

<button class="button" (click)="loadPrediction()">Predict</button>

<div *ngIf="showPredictionTable"> <!-- Use ngIf directive to conditionally render the prediction table -->
  <h2>Prediction Results</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Disease</th>
        <th>Severity</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prediction of predictions">
        <td>{{ prediction.diseasename }}</td>
        <td>{{ prediction.severity }}</td>
      </tr>
    </tbody>
  </table>
</div>
</div>