
<nav>
  <ul>
      <li><a routerLink="/appointment">Create Appointment</a></li>
      <li><a routerLink="/appointments">Appointments</a></li>
      <li><a routerLink="/feedback">Feedback</a></li>

  </ul>
</nav>
<router-outlet></router-outlet>
<div class="background-container"></div>

  <h2>Appointment View</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Purpose</th>
        <th>Department</th>
        <!-- Add more columns as needed -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let appointment of appointments">
        <td>{{ appointment.date }}</td>
        <td>{{ appointment.time }}</td>
        <td>{{ appointment.purpose }}</td>
        <td>{{ appointment.dep }}</td>
        <!-- Add more columns as needed -->
      </tr>
    </tbody>
  </table>


