<app-nav-customer></app-nav-customer>


<div class="background-container"></div>

  <h2>Appointment View</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Time</th>
        <th>Purpose</th>
        <!-- Add more columns as needed -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let appointment of appointments">
        <td>{{ appointment.name }}</td>
        <td>{{ appointment.date }}</td>
        <td>{{ appointment.time }}</td>
        <td>{{ appointment.purpose }}</td>
        <!-- Add more columns as needed -->
      </tr>
    </tbody>
  </table>


