
.background-image {
  background-image: url('https://static.vecteezy.com/system/resources/previews/026/593/022/non_2x/top-view-on-various-medical-equipment-light-blue-background-copy-space-ai-generative-free-photo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 90%;
  max-width: 400px; /* Adjust the maximum width as needed */
  margin-left: auto; /* Move container to the right */
  margin-right: 20%; 
  margin-top: 0px; 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.container h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.form-label {
  color: #555;
}

.form-control {
  width: 93%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px; /* Add space between form elements */
}

.btn-primary {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #1d1f22;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.alert {
  padding: 10px;
  font-size: 14px;
  border-radius: 4px;
  margin-top: 15px;
}

.alert-danger {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
}
