<form [formGroup]="appointmentForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" id="name" formControlName="name">
    </div>
    <div class="mb-3">
      <label for="phonenumber" class="form-label">Phone number</label>
      <input type="text" class="form-control" id="phonenumber" formControlName="phonenumber">
    </div>
    <div class="mb-3">
      <label for="purpose" class="form-label">Purpose</label>
      <input type="text" class="form-control" id="purpose" formControlName="purpose">
    </div>
    <div class="mb-3">
      <label for="dep" class="form-label">Department</label>
      <input type="text" class="form-control" id="dep" formControlName="dep">
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="text" class="form-control" id="email" formControlName="email">
    </div>
    <div class="mb-3">
    <label for="date" class="form-label">Email</label>
    <input type="date" class="form-control" id="date" formControlName="date">
    </div>
    <div class="mb-3">
    <label for="time" class="form-label">Time</label>
    <input type="time" class="form-control" id="time" formControlName="time">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <div *ngIf="error" class="alert alert-danger mt-3" role="alert">{{ error }}</div>

  </form>
  