<app-dashboard></app-dashboard>

<div class="container">
  <h2> Admin Registeration</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" id="name" formControlName="name">
    </div>
    <div class="mb-3">
      <label for="adminID" class="form-label">Admin ID</label>
      <input type="text" class="form-control" id="adminID" formControlName="adminID">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" formControlName="password">
      <div *ngIf="registerForm.get('password')?.errors?.['minlength']" class="text-danger">
        Password must be at least 6 characters long.<pre></pre>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
  </form>
</div> 