/* Navigation styling */
nav {
  background-color: #333;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 1000; 
  margin-top: 0px; /* Remove top margin */
  top: 0; /* Ensure the navigation bar is positioned flush with the top of the viewport */
}

ul {
  list-style-type: none; /* Remove default bullet points */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  display: flex; /* Use flexbox for layout */
}

li {
  margin-right: 20px; /* Add some spacing between menu items */
}

a {
  color: #fff; /* Text color */
  text-decoration: none; /* Remove default underline */
  padding: 10px; /* Add padding around text */
}

a:hover {
  background-color: #555; /* Background color on hover */
  border-radius: 5px; /* Rounded corners on hover */
}
