<div class="background-image" ></div><pre></pre>


<div class="container">
    <!-- Administration -->
    <div class="box">
      <h2>Administration</h2>
      <p>Responsible for overseeing hospital governance, strategic planning, financial management, and policy development to ensure effective operation and compliance with regulatory standards.</p>
    </div>
  
    <!-- Operations -->
    <div class="box">
      <h2>Operations</h2>
      <p>Manages day-to-day hospital operations, including facility management, housekeeping, security, and maintenance, to ensure smooth functioning and a safe environment for patients and staff.</p>
    </div>
  
    <!-- Clinical Services -->
    <div class="box">
      <h2>Clinical Services</h2>
      <p>Coordinates medical care provided by healthcare professionals, including physicians, nurses, and allied health professionals, to diagnose, treat, and manage patient conditions effectively and efficiently.</p>
    </div>
  
    <!-- Patient Care Services -->
    <div class="box">
      <h2>Patient Care Services</h2>
      <p>Focuses on delivering high-quality patient care experiences, including patient admission, care coordination, advocacy, and support services, to promote patient well-being and satisfaction.</p>
    </div>
  
    <!-- Support Services -->
    <div class="box">
      <h2>Support Services</h2>
      <p>Provides essential support functions such as information technology, finance and accounting, human resources, quality management, and compliance to enable the effective operation of the hospital and its services.</p>
    </div>
  
    <!-- Ancillary Services -->
    <div class="box">
      <h2>Ancillary Services</h2>
      <p>Offers additional services such as food and nutrition, rehabilitation, medical equipment and supplies, and transportation to meet the diverse needs of patients and enhance their overall healthcare experience.</p>
    </div>
  
    <!-- Community and Public Health Initiatives -->
    <div class="box">
      <h2>Community and Public Health Initiatives</h2>
      <p>Engages with the community to promote health education, disease prevention, and wellness initiatives, and collaborates with public health agencies to address public health challenges and improve population health outcomes.</p>
    </div>
  
    <!-- Research and Development -->
    <div class="box">
      <h2>Research and Development</h2>
      <p>Conducts clinical research, innovation, and development activities to advance medical knowledge, technology, and treatments, ultimately improving patient care and outcomes through evidence-based practices and discoveries.</p>
    </div>
  </div>
  